<html>
    <body>
        <h1>Welcome to the  Home Page </h1>
        <br>
        <a href="/register"> Register  Here !! </a>
        <br>
        <br>
        <a href="/login"> Login Here !! </a>
        <br>
        <br>

        
    </body>
</html>
